# dependencies
node_modules/
.pnp
.pnp.js

# build
.next/
out/
dist/
build/

# env
.env
.env.local
.env.*.local

# debug
npm-debug.log*
yarn-debug.log*
pnpm-debug.log*

# IDE
.idea/
.vscode/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# prisma
apps/web/prisma/*.db
apps/web/prisma/*.db-journal

# docker volumes (local)
.postgres-data/
.redis-data/
